<h1>otone-app</h1>
<%= link_to new_content_path, class:"new-content-btn" do %>
  <div>作品投稿</div>
<% end %>



<div class="content-index-main">
  <div class="left-up">ユーザー情報</div>
  <div class="right-up">作品一覧</div>
  <div class="left-under">
    <% if user_signed_in? %>
      <div class="user-info">
        <%= @user.nickname %>
      </div>
    <% end %>
  </div>
  <div class="right-under"></div>
</div>