/* mainに対するcss */
.content-index-main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 50px 1fr;
}
/* mainに対するcss */

/* indexのheader */
.index-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  line-height: 50px;
  padding: 10px;
}

.user-login-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
/* indexのheader */

/* leftとrightのupとunder */
.left-up {
  background-color: aliceblue;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}

.left-under {
  background-color: antiquewhite;
}

.right-up {
  background-color: aqua;
  padding-left: 10px;
  line-height: 50px;
  font-size: 25px;
  letter-spacing: 7px;
}

.right-under {
  padding: 5px;
}
/* leftとrightのupとunder */

/* left-under 中身の要素 */
.user-info {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}
/* left-under 中身の要素 */

/* right-upの中身 */
.new-content-btn {
  display: inline-block;
  text-decoration: none;
  line-height: 50px;
  font-size: 20px;
  height: 47px;
  background-color: aquamarine;
  border: 1px solid black;
}
/* right-upの中身 */

/* right-under 中身 */






/* right-under 中身 */