/* 新規投稿の大枠 */
.new-content-main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 50px 400px 1fr;
  grid-template-areas: 
    "areaA areaC areaB"
    "areaA areaD areaB"
    "areaA areaE areaB"; 
}

.content-new-header {
  grid-area: areaC;
  font-size: 30px;
  font-weight: 700;
  background-color: aqua;
  width: 250px;
  text-align: center;
  border-radius: 5px;
}
/* 新規投稿の大枠 */

.new-content-form {
  padding: 10px;
  grid-area: areaD;
}

.new-submit {
  grid-area: areaB;
  margin: 10px auto 0;
}

.submit-btn {
  color: black;
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: 800;
  background-color: rgb(88, 255, 255);
  border-radius: 10px;
}
.return-btn {
  grid-area: areaE;
  margin-top: 20px;
}

.top-return {
  height: 30px;
  color: white;
  padding: 0 10px;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(47, 47, 255, 0.792);
  border-radius: 8px;
}
.form-field {
  width: 200px;
  font-size: 16px;
  padding: 3px;
}
.form-wrap span {
  font-size: 12px;
}
.select-box {
  font-size: 16px;
  padding: 3px;
}
.date-field {
  font-size: 16px;
  padding: 3px;
}

/* インクリメンタルサーチ */
.search-result {
  display: flex;
}
.child {
  background-color: rgb(155, 255, 255);
  margin: 3px;
  border-radius: 5px;
  padding: 3px;
}

/* インクリメンタルサーチ */