.search-form {
  font-size: 20px;
}

.search-form select {
  font-size: 18px;
}

.content-search-result {
  margin: 5px;
  display: inline-block;
}

.sr-title {
  background-color: aquamarine; 
}
.csr-border {
  border: 3px dotted lightgray;
  padding: 5px;
}