.content-show-grid {
  display: grid;
  grid-template-columns: 500px 1fr;
}

.like-icon {
  font-size: 30px;
  text-decoration: none;
}
.liked-icon {
  font-size: 32px;
  text-decoration: none;
}

.like-link {
  text-decoration: none;
}

.content-edit-btn {
  width: 170px;
  height: 30px;
  text-decoration: none;
  background-color: lightgray;
  color: black;
  border-radius: 10px;
  margin: 10px auto 0;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  padding: 5px;
}
.content-edit-btn:hover {
  background-color: rgb(196, 194, 194);
}
h1 {
  background-color: aqua;
}
.content-info {
  font-size: 20px;
  font-weight: 500;
}

#comments {
  font-size: 16px;
  font-weight: 400;
}
.comment {
  margin-bottom: 3px;
}
.delete-btn {
  text-decoration: none;
  font-size: 14px;
  background-color: rgba(211, 211, 211, 0.655);
  border-radius: 5px;
  padding: 3px;
  margin-left: 5px;
}
.spoiler-barrier {
  color: red;
  font-size: 20px;
  font-weight: bold;
  border: 5px double black;
  width: 310px;
  text-align: center;
  padding: 3px;
  margin: 5px;
}