.hidden {
  display: none;
}

#content-lists {
  width: 100px;
}

.select-list {
  display: flex;
}
.select-list li {
  list-style: none;
}

.list-child {
  margin: 0 5px;
  background-color: antiquewhite;
}
.hyde {
  display: none;
}
