.user-show-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
}

.show-up {
  width: calc(98vw - 200px);
  height: 50px;
  background-color: aqua;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}
.show-up span {
  height: 50px;
  line-height: 50px;
  margin: 0 10px;
  font-size: 30px;
  letter-spacing: 10px;
  font-weight: bold;
}

.follow-star {
  font-size: 25px;
  color: blue;
  text-decoration: none;
}
.no-follow-star {
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.left-up {
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
}
.left-under {
  background-color: rgb(207, 255, 237);
  font-size: 18px;
  font-weight: 500;
}
.user-info span {
  font-weight: 600;
  font-size: 19px;
}

.right-under {
}

.user-edit-btn {
  width: 130px;
  height: 30px;
  display: block;
  text-decoration: none;
  background-color: lightgray;
  color: black;
  border-radius: 10px;
  align-items: center;
  margin: 10px auto 0;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
}
.user-edit-btn:hover {
  opacity: 0.8;
  background-color: rgb(182, 182, 182);
}
.recommends-list {
  display: flex;
}
.recommends-logo {
  background-color: rgb(110, 238, 255);
  font-size: 20px;
  font-weight: bold;
}
.recommend-btn {
  color: red;
  background-color: white;
  font-weight: bold;
  border: 1px solid red;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px;
  margin:10px 3px;
}
.recommend-btn:hover {
  background-color: red;
  color: white;
}
.mini-user-link {
  text-decoration: none;
  color: black;
}